.outputdata {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.btn {
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 7px;
    width: 70px;
    height: 30px;
    box-shadow: 2px 2px #808080;
    cursor: pointer;
}